<ol data-testid="<%= testid %>">
  <% pages.each do |(page, child_pages)| %>
    <% selected = page.url_path == current_page_url %>
    <li>
      <% inactive_link_classes = "border-slate-100 text-neutral hover:text-gray-800 hover:border-slate-300 transition-color duration-100 pr-2"
    selected_link_classes = "b-primary font-bold" %>
      <a
        class="inline-block py-1 pl-4 border-l-2 <%= selected ? selected_link_classes : inactive_link_classes %>"
        <%= 'aria-current=page' if selected %>
        href="<%= page.url_path %>"
      >
        <%= page.title %>
      </a>
      <% if child_pages.any? %>
        <div class="border-rose-200 pl-3 ml-1 border-l-1">
          <%= render "doc_pages/pages_nav", pages: child_pages, testid: nil, current_page_url: current_page_url %>
        </div>
      <% end %>
    </li>
  <% end %>
</ol>
