<ol role="list" data-testid="<%= testid %>" data-depth="<%= depth %>">
  <% headings.each do |(heading, child_headings)| %>
    <li>
      <% depths = ["pl-4", "pl-6", "pl-8", "pl-10"] %>

      <a
        class="
          inline-block py-1 pr-2 <%= depths[depth] %> border-l-2 border-slate-100 text-neutral
          hover:text-gray-800 hover:border-slate-300
          transition-color duration-200
        "
        data-depth="<%= depth %>"
        href="<%= heading.href %>"
      >
        <%= heading.text %>
      </a>

      <% if child_headings.any? %>
        <%= render "doc_pages/toc_headings", headings: child_headings, testid: nil, depth: depth + 1 %>
      <% end %>
    </li>
  <% end %>
</ol>
