<footer class="bg-neutral-900 text-white pb-8">
  <div class="bg-neutral rounded-b-2xl h-4"></div>

  <div
    class="
      pl-[calc(env(safe-area-inset-left)-var(--spacing)*4)]
      pr-[calc(env(safe-area-inset-right)-var(--spacing)*4)]
    "
  >
    <div class="pl-6 pr-4 lg:pl-8 lg:pr-6 lg:py-8 py-6 flex flex-col md:flex-row gap-6">
      <a href="/"><%= render "svgs/hanakai_logo", height: 32, width: 32 %></a>

      <nav class="flex-1">
        <ul>
          <% nav_items.each do |nav_item| %>
            <li class="text-lg md:float-left mr-16 mb-4">
              <% if nav_item.url %>
                <a
                  class="
                    font-bold block mb-2 hover:underline hover:decoration-(--hk-color-text-link-underline)
                    hover:decoration-[3px] [text-decoration-skip-ink:none]
                  "
                  href="<%= nav_item.url %>"
                >
                  <%= nav_item.label %>
                </a>
              <% else %>
                <span class="font-bold block mb-2"><%= nav_item.label %></span>
              <% end %>

              <% if nav_item.children.any? %>
                <ul>
                  <% nav_item.children.each do |child_nav_item| %>
                    <li class="text-base mb-0.5">
                      <a
                        class="
                          hover:underline hover:decoration-(--hk-color-text-link-underline)
                          hover:decoration-[3px] [text-decoration-skip-ink:none]
                        "
                        href="<%= child_nav_item.url %>"
                      >
                        <%= child_nav_item.label %>
                      </a>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>

      <div class="flex flex-row gap-4 items-center self-start md:pr-4">
        <p>Supported by</p>

        <a href="https://sidekiq.org">
          <%= render "svgs/sponsors/sidekiq_logo_horizontal", height: 41, width: 140 %>
        </a>
      </div>
    </div>
  </div>
</footer>
