<footer class="bg-sky-500 text-primary-reversed pb-8">
  <div class="bg-white rounded-b-2xl h-4"></div>

  <div
    class="
      pl-[calc(env(safe-area-inset-left)-var(--spacing)*4)]
      pr-[calc(env(safe-area-inset-right)-var(--spacing)*4)]
    "
  >
    <div class="px-4 lg:px-6 lg:py-8 py-6 flex flex-col md:flex-row gap-6">
      <a href="/"><%= render "svgs/hanakai_logo", height: 32, width: 32 %></a>

      <nav class="flex-1">
        <ul>
          <% nav_items.each do |nav_item| %>
            <li class="text-lg md:float-left md:w-48 mb-3.5">
              <a class="font-bold" href="<%= nav_item.url %>"><%= nav_item.label %></a>

              <% if nav_item.children.any? %>
                <ul>
                  <% nav_item.children.each do |child_nav_item| %>
                    <li>
                      <a href="<%= child_nav_item.url %>"><%= child_nav_item.label %></a>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>

      <div class="flex flex-row gap-4 items-center self-start md:pr-4">
        <p>Supported by</p>
        <a href="https://sidekiq.org"><%= render "svgs/sponsors/sidekiq_logo_horizontal", height: 41, width: 140 %></a>
      </div>
    </div>
  </div>
</footer>
