<!DOCTYPE html>

<html
  lang="en"
  class="lg:scroll-pt-[calc(var(--hk-nav-height)+var(--spacing)*7)] scroll-pt-[calc(var(--hk-nav-height)+var(--hk-mobile-page-nav-height)+var(--spacing)*4)] theme-<%= theme %>-light"
>
  <head>
    <meta charset="UTF-8">

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    >

    <title>
      <% if content_for(:title) %>
        <%= raw content_for(:title) %>
        &middot; Hanakai
      <% else %>
        Hanakai
      <% end %>
    </title>

    <%= favicon_tag %>
    <%= stylesheet_tag "app" %>
    <%= raw content_for(:meta) %>
    <%= javascript_tag "app", async: true, type: "module" %>
  </head>

  <body
    class="font-sans text-neutral bg-white flex flex-col min-h-dvh"
    data-defo-foresight="<%= { elementSelector: "a[href^='/']" }.to_json %>"
  >
    <%= render "header/base", nav_items: header_nav_items %>

    <div
      class="
        mx-auto flex w-full max-w-[1540px] flex-col mb-6 lg:mb-8 flex-1
        pl-[calc(env(safe-area-inset-left)-var(--spacing)*4)] pr-[calc(env(safe-area-inset-right)-var(--spacing)*4)]
      "
    >
      <main class="px-4 lg:px-6 flex flex-col flex-1"><%= yield %></main>
    </div>

    <%= render "footer", nav_items: footer_nav_items %>
    <%= render "search/search_modal" %>
  </body>
</html>
