<% rel_parts = []
  rel_parts << "noopener" if defined?(target) && target == "_blank"
  rel_parts << rel if defined?(rel) %>

<li class="text-base mb-0.5 <%= class_name if defined?(class_name) %>">
  <a
    class="
      hover:underline hover:decoration-(--hk-color-text-link-underline)
      hover:decoration-[3px] [text-decoration-skip-ink:none]
    "
    href="<%= url %>"
    <% if defined?(target) %>
      target="<%= target %>"
    <% end %>
    <% unless rel_parts.empty? %>
      rel="<%= rel_parts.join(" ") %>"
    <% end %>
  >
    <%= label %>
  </a>
</li>
