<%# Community %>
<section class="py-16 lg:py-20 -mx-4 lg:-mx-6 px-4 lg:px-6">
  <div class="max-w-6xl mx-auto">
    <header class="text-center mb-12">
      <h2 class="text-4xl lg:text-5xl font-black tracking-tight mb-5">
        Built on community
      </h2>

      <p class="text-xl lg:text-3xl tracking-tight text-balance">
        For people who bring kindness, curiosity, and care
      </p>
    </header>

    <div class="flex flex-col lg:flex-row gap-5 lg:gap-16 items-center">
      <div class="flex-1 flex justify-center lg:justify-end lg:order-2">
        <%= image_tag "community-block.png", alt: "Photograph of cute people being cute" %>
      </div>

      <div class="flex-1 pb-8 lg:ml-7">
        <p class="text-2xl mb-3">
          The Hanakai community is a place where people of all backgrounds and
          experience levels can feel respected, and can share and grow. A place
          for people to be proud of, and feel safe within.
        </p>

        <p class="text-2xl mb-12">
          <strong>We do not tolerate</strong> nazis, transphobes, racists, or
          any kind of bigotry.
          <a href="/conduct"> See our Code of Conduct for more. </a>
        </p>

        <div class="flex flex-wrap gap-3">
          <%= render_with_slots "shared/components/button_primary", href: "https://discourse.hanamirb.org", label: "Discussion forum" do |btn| %>
            <% btn.slot :suffix do %>
              <%= render "svgs/icons/chat_text", width: 24, height: 24, class_name: "text-current" %>
            <% end %>
          <% end %>

          <%= render_with_slots "shared/components/button_primary", href: "https://discord.com/invite/KFCxDmk3JQ", label: "Discord" do |btn| %>
            <% btn.slot :suffix do %>
              <%= render "svgs/icons/discord_logo", width: 24, height: 24, class_name: "fill-current" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
