<header
  class="bg-primary sticky top-0 text-primary-reversed rounded-b-2xl z-30"
  data-defo-size-to-var="<%= { blockVarName: "--hk-nav-height" }.to_json %>"
>
  <div class="flex items-center gap-2 lg:gap-4 px-4 lg:px-6 py-2 justify-between">
    <div
      class="
        relative
        after:hidden after:md:block after:w-[2px] after:rounded-xs after:bg-(--hk-color-bg-primary-reversed) after:opacity-20
        after:top-0 after:bottom-0 after:absolute after:right-0
        md:pr-5 lg:pr-8
      "
    >
      <a
        class="
          flex gap-3 font-black text-xl antialiased tracking-tight
          lg:text-2xl items-center
        "
        href="/"
      >
        <%= render "svgs/hanakai_logo", height: 32, width: 32 %> Hanakai
      </a>
    </div>

    <%= render "header/nav_desktop", nav_items: nav_items %>

    <div class="flex gap-1">
      <div
        data-defo-docsearch="<%= {
      appId: settings.docsearch_app_id,
      apiKey: settings.docsearch_api_key,
      indexName: settings.docsearch_index_name
    }.to_json %>"
      ></div>

      <%= render "header/nav_mobile_button" %>
    </div>
  </div>
  <%= render "header/nav_mobile", nav_items: nav_items %>
</header>
