<nav class="hidden md:flex flex-1 py-3">
  <ul class="flex flex-1">
    <% nav_items.each do |nav_item| %>
      <% if nav_item.children.length > 0 %>
        <li
          class="
            hover:bg-(--hk-color-bg-primary-reversed) hover:text-(--hk-color-text-primary)
            hover:drop-shadow-sm
            group relative rounded-t-xl bg-transparent
          "
        >
          <a
            class="
              flex items-center px-3 py-2 leading-tight gap-2 text-lg
              font-bold
            "
            href="<%= nav_item.url %>"
          >
            <%= nav_item.label %>
            <%= render "icons/caret_down", height: 12, width: 12, class_name: "fill-current" %>
          </a>
          <ul
            class="
              group-hover:flex hidden
              absolute bg-primary-reversed min-w-full px-3 rounded-b-xl pb-3
              flex-col gap-1 items-stretch
            "
          >
            <% delay_classes = %w[delay-25 delay-50 delay-75 delay-100 delay-125 delay-150 delay-175 delay-200] %>
            <% nav_item.children.each_with_index do |child_nav_item, index| %>
              <li>
                <a
                  class="
                    block
                    transition-all <%= delay_classes[index % delay_classes.length] %>
                    group-hover:opacity-100 group-hover:starting:opacity-0 opacity-0
                    group-hover:translate-x-0 group-hover:starting:-translate-x-1.5 -translate-x-1.5
                  "
                  href="<%= child_nav_item.url %>"
                >
                  <%= child_nav_item.label %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% else %>
        <li>
          <a
            class="
              flex items-center px-3 py-2 leading-tight rounded-xl gap-2
              text-lg font-bold
            "
            href="<%= nav_item.url %>"
          >
            <%= nav_item.label %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
