<nav class="hidden md:flex flex-1 py-2 items-center gap-3">
  <ul class="flex flex-1 justify-center gap-2">
    <li>
      <button
        data-defo-toggle-class="<%= {
          clickAway: true,
          triggerToggleClassName: "open",
          targetSelector: "#nav-projects-dropdown",
          targetToggleClassName: "nav-dropdown-closed"
        }.to_json %>"
        class="
          flex items-center sm:px-3 lg:px-4 py-2 gap-2 text-xl font-bold tracking-tighter tracking-tighter rounded-xl cursor-pointer
          <%= "bg-primary text-primary-reversed" if current_page?("/projects") %>
        "
      >
        Projects
        <span class="
          inline-block transition-transform duration-100
          [.open_&]:rotate-180 translate-y-0.5
        "><%= render "svgs/icons/caret_down", height: 12, width: 12, class_name: "fill-current", stroke_width: 20 %></span>
      </button>

      <div
        id="nav-projects-dropdown"
        class="
          nav-dropdown-closed fixed top-[calc(var(--hk-nav-height)-var(--spacing)*3)]
          left-1/2 -translate-x-1/2 z-50 max-w-4xl w-11/12
        "
      >
        <div
          class="
            relative bg-neutral border-2 border-neutral-100
            dark:border-neutral-800 rounded-2xl p-3 shadow-2xl
            dark:shadow-neutral-900
          "
        >
          <div class="flex gap-2">
            <% nav_projects.each do |project| %>
              <%= render "layouts/header/nav_project_card_desktop", project: project %>
            <% end %>
          </div>
        </div>
      </div>
    </li>

    <% nav_items.each do |item| %>
      <%= render "layouts/header/nav_item_desktop", label: item.label, url: item.url %>
    <% end %>
  </ul>

  <%= render "layouts/header/theme_switcher" %>

  <button
    aria-label="Search"
    aria-keyshortcuts="/ control+k meta+k"
    class="
      search-activate-button
      flex items-center gap-3
      bg-(--hk-color-neutral-subtle) inset-shadow-sm text-neutral-500 dark:text-neutral-400 rounded-xl text-sm px-3 py-2
      cursor-pointer
      hover:opacity-75
      after:tracking-tight
      after:content-['Ctrl_+_K'] [.mac_&]:after:content-['⌘_+_K']
      transition-all
    "
  >
    <%= render "svgs/icons/magnifying_glass", height: 16, width: 16, class_name: "fill-current" %>
  </button>
</nav>
