<%= content_for :title, "#{page.title} &middot; #{doc.title} #{version}" %>

<%= render_with_slots "doc_pages/main" do |main| %>
  <%# Navigation %>
  <%= main.slot :navigation do %>
    <%= render_with_slots "doc_pages/pages_nav_desktop", org:, version:, other_versions:, path_prefix: "/docs/#{doc.slug}" do |pages_nav_desktop| %>
      <%= pages_nav_desktop.slot :nav do %>
        <%= render "doc_pages/pages_nav", pages: doc.pages.nested, depth: 0, testid: 'pages-nav', current_page_url: page.url_path %>
      <% end %>
    <% end %>

    <%= render_with_slots "doc_pages/pages_nav_mobile", org:, version:, other_versions:, path_prefix: "/docs/#{doc.slug}" do |pages_nav_mobile| %>
      <%= pages_nav_mobile.slot :nav do %>
        <%= render "doc_pages/pages_nav", pages: doc.pages.nested, depth: 0, testid: nil, current_page_url: page.url_path %>
      <% end %>

      <% if page.nested_headings.length > 0 %>
        <%= pages_nav_mobile.slot :toc do %>
          <nav
            data-defo-target-current="<%= { activeClassNames: ["font-bold", "b-primary"] }.to_json %>"
          >
            <%= render "doc_pages/toc_headings", headings: page.nested_headings, testid: nil, depth: 0 %>
          </nav>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%# Table of contents %>
  <%= main.slot :toc do %>
    <%= render "doc_pages/toc_desktop", org: org, headings: page.nested_headings %>
  <% end %>

  <%# Content %>
  <%= main.slot :content do %>
    <%= render "doc_pages/breadcrumbs", breadcrumbs:, org: %>

    <header>
      <h1 class="text-4xl font-black mb-4"><%= page.title %></h1>
    </header>

    <div
      class="content"
      <%= "data-pagefind-ignore" unless version == latest_version %>
      data-pagefind-body
    >
      <%= page.content_html %>
    </div>
  <% end %>
<% end %>
