<a
  href="<%= guide.url_path %>"
  class="
    flex items-center justify-between lg:px-5 py-4 lg:transition-colors group
    lg:outline-transparent lg:hover:outline-(--hk-color-b-primary) lg:hover:outline-2
    lg:hover:rounded-md
  "
>
  <div class="flex flex-col lg:flex-row items-baseline lg:gap-3 min-w-0">
    <span class="text-xl font-semibold shrink-0 tracking-tighter">
      <%= guide.title %>
    </span>

    <% if guide.description %>
      <span class="flex-1 text-lg text-neutral-subtle lg:truncate">
        <%= guide.description %>
      </span>
    <% end %>
  </div>

  <div class="flex items-center gap-3 shrink-0 ml-4">
    <span class="text-sm text-neutral-subtle">
      <%= guide.pages.paths.length %> pages
    </span>

    <%= render "svgs/icons/arrow_right", width: 16, height: 16, class_name: "fill-current" %>
  </div>
</a>
