<a
  href="<%= guide.url_path %>"
  class="
    flex items-center justify-between px-5 py-4 transition-colors group
    outline-transparent hover:outline-(--hk-color-b-primary) hover:outline-2
    rounded-md
  "
>
  <div class="flex items-baseline gap-3 min-w-0">
    <span class="text-xl font-semibold shrink-0"><%= guide.title %></span>

    <% if guide.description %>
      <span class="flex-1 text-lg text-neutral-subtle truncate">
        <%= guide.description %>
      </span>
    <% end %>
  </div>

  <div class="flex items-center gap-3 shrink-0 ml-4">
    <span class="text-sm text-neutral-subtle">
      <%= guide.pages.paths.length %> pages
    </span>

    <%= render "svgs/icons/arrow_right", width: 16, height: 16, class_name: "fill-current" %>
  </div>
</a>
