<% content_for :title, "Learn" %>

<div class="w-full lg:max-w-[80%] mx-auto">
  <header class="lg:pt-12 lg:pb-12 pt-5 mb-6 text-center">
    <h1 class="lg:hidden text-2xl font-semibold mb-1">
      Learn
    </h1>

    <p class="lg:text-lg text-md text-neutral-500 text-balance">
      Comprehensive docs for Hanami, Dry, and Rom.
    </p>
  </header>

  <div class="space-y-16 mb-16">
    <%= render "guides/guide_section",
               id: "hanami",
               name: "Hanami",
               theme: "hanami",
               description: "A complete framework for building apps with structure and clarity.",
               section_guides: guides.fetch("hanami"),
               version_select: {
                 id: "hanami-version-select",
                 testid: nil,
                 version: hanami_version_links.keys.first,
                 version_links: hanami_version_links,
                 path_prefix: "/learn/hanami",
                 anchor: "left"
               } %>

    <%= render "svgs/wiggle", class_name: "text-[var(--hk-color-b-primary)] mb-14", height: 14, stroke_width: 2 %>

    <%= render "guides/guide_section",
               id: "dry",
               name: "Dry",
               theme: "dry",
               description: "Validation, types, functional patterns and more, for robust code in any Ruby app.",
               section_guides: guides.fetch("dry"),
               version_select: nil %>

    <%= render "svgs/wiggle", class_name: "text-[var(--hk-color-b-primary)] mb-14", height: 14, stroke_width: 2 %>

    <%= render "guides/guide_section",
               id: "rom",
               name: "ROM",
               theme: "rom",
               description: "A powerful, flexible persistence toolkit that keeps your domain logic clean.",
               section_guides: guides.fetch("rom"),
               version_select: {
                 id: "rom-version-select",
                 testid: nil,
                 version: rom_version_links.keys.first,
                 version_links: rom_version_links,
                 path_prefix: "/learn/rom",
                 anchor: "left"
               } %>
  </div>
</div>
