<%= content_for :title, "#{guide.title} / #{page.title} &middot; #{org_name(org)} #{version} Guides" %>

<%= render_with_slots "doc_pages/main" do |main| %>
  <%# Navigation %>
  <%= main.slot :navigation do %>
    <%= render_with_slots "doc_pages/pages_nav_desktop", org:, version: org_version, org_versions:, path_prefix: "/guides/#{org}" do |pages_nav_desktop| %>
      <%= pages_nav_desktop.slot :nav do %>
        <ol data-testid="guides-list">
          <% org_guides.each do |guide_for_nav| %>
            <li class="mb-6">
              <div
                class="
                  font-mono uppercase text-xs font-semibold text-primary
                  tracking-wide mb-2
                "
              >
                <%= guide_for_nav.title %>
              </div>

              <%= render "doc_pages/pages_nav", pages: guide_for_nav.pages.nested, depth: 0, testid: 'pages-nav', current_page_url: page.url_path %>
            </li>
          <% end %>
        </ol>
      <% end %>
    <% end %>

    <%= render_with_slots "doc_pages/pages_nav_mobile", org:, version: org_version, org_versions:, path_prefix: "/guides/#{org}" do |pages_nav_mobile| %>
      <%= pages_nav_mobile.slot :nav do %>
        <ol>
          <% org_guides.each do |guide_for_nav| %>
            <li class="mb-6">
              <div
                class="
                  font-mono uppercase text-xs font-semibold text-primary
                  tracking-wide mb-2
                "
              >
                <%= guide_for_nav.title %>
              </div>

              <%= render "doc_pages/pages_nav", pages: guide_for_nav.pages.nested, depth: 0, testid: 'pages-nav', current_page_url: page.url_path %>
            </li>
          <% end %>
        </ol>
      <% end %>

      <% if page.nested_headings.length > 0 %>
        <%= pages_nav_mobile.slot :toc do %>
          <nav
            data-defo-target-current="<%= { activeClassNames: ["font-bold", "b-primary"] }.to_json %>"
          >
            <%= render "doc_pages/toc_headings", headings: page.nested_headings, testid: nil, depth: 0 %>
          </nav>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%# Table of contents %>
  <%= main.slot :toc do %>
    <%= render "doc_pages/toc_desktop", org: org, headings: page.nested_headings %>
  <% end %>

  <%# Content %>
  <%= main.slot :content do %>
    <div class="flex flex-col">
      <% if version != latest_version %>
        <%# TODO: This will need to be smarter for self-versioned guides %>
        <%= render "doc_pages/version_warning", version:, latest_version_url: "/guides/#{org}/#{latest_version}" %>
      <% end %>

      <%= render "doc_pages/breadcrumbs", breadcrumbs:, org: %>
    </div>

    <header
      data-pagefind-filter="project[data-project]"
      data-pagefind-meta="project[data-project]"
      data-project="<%= org_name(org) %>"
    >
      <h1 class="text-4xl font-extrabold mb-4"><%= page.title %></h1>
    </header>

    <div class="content" <%= "data-pagefind-body" if version == latest_version %>><%= page.content_html %></div>
  <% end %>
<% end %>
